.hero {
    background-color: #2C3639; /* Escolha a cor que preferir */
}
.features{
    background-color: #3F4E4F;
}
.skills{
    background-color: #697565;
}
.education{
    background-color: #A27B5C;

}
.contact{
    background-color: #DCD7C9;
}
.footer {
    background-color: #2C3639; /* Escolha a cor que preferir */
}